body {
    min-height: 100vh;
    margin: 0;
    /* to get rid of the annoying scrollbar */
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1d1919;
    color: #fff;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #123135;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 2em;
    box-shadow: 0px 0px 15px white;
    width: 25em;
}

h1 {
    border-bottom: 3px solid white;
}

.password-field {
    background-color: #fff;
    color: black;
    width: 20em;
    height: 4.4em;
    border-radius: 5px;
    text-align: center;
    margin-top: auto;
    word-break: break-all;
    font-weight: bold;
}

.password-field:hover {
    transform: scale(1);
}

form {
    display: flex;
    flex-direction: column;
    min-width: 20em;
}

.form-row {
    display: flex;
    justify-content: space-between
}

.mask {
    margin: 1em 0 2em 0;
}

input:hover {
    cursor: pointer;
    transform: scale(1.2);
}

label {
    font-weight: bold;
    font-size: 1.2em;
}

.generate-btn {
    margin-top: 2em;
    background-color: transparent;
    color: white;
    height: 3em;
    border: 2px solid #fff;
    border-radius: 2em;
    font-size: 1.2em;
}

.generate-btn:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: #ffffff33;

}

.number-input {
    width: 3em;
    border-radius: 5px;
    /* outline: none; */
    border: 0px;
}

.generated-password-container {
    display: flex;
    width: 20em;
}

.generated-password-container button {
    height: 4.4em;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    margin-left: 3px
}

.generated-password-container button:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: #ffffff33;
}

.copy-password-btn {
    height: 4.5em;
}